body {
    background-color: #000000;
    font-size: 16pt;
    padding: 8px;
}

h1 {
    color: gold;
    text-align: center;
}

.header {
    display: flex;
    height: 70px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2 {
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color: gold;
}

.bgrph {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 1.5em;
    letter-spacing: normal;
    word-spacing: 1px;
    line-height: 125%;
}

ul {
    margin: 0;
    padding: 0;
    color: #ffffff;

}

ul li {
    margin-left: 20px;
}

li {
    margin-top: 10px;
    font-size: 18px;
    color: gold;
}

ol {
    color: #ffffff;
}

li span {
    color: #ffffff;
}

img {
    height: 600px;
    margin-left: 13px;
    margin-right: 13px;
}

table, th, td {
    font-size: 18px;
    border: 1px solid gold;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}

th, td {
    padding: 10px;
}

.block-border {
    margin-top: 30px;
    margin-bottom: 40px;
    border-width: thin;
    height: 70px;
    border-style: solid;
    border-color: gold;
}

.block-border_1 {
    margin-top: 30px;
    margin-bottom: 40px;
    border-width: medium;
    height: 90px;
    border-style: dashed;
    border-color: gold;
}

.footer-block {
    width: 1400px;
    margin-top: 15px;
    color: #ffffff;
}

.little-block {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.little-footer {
    width: 500px;
    text-transform: none;
}

.block{
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
